 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}NeuronovAI{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    
  


    {% block head %}{% endblock %}
</head>
<body>
   
    <nav class="navbar">
        <div class="navbar-container">
            <a href="{% url 'homepage:home' %}" class="navbar-logo">
                <img src="{% static 'img/logo.png' %}" alt="NeuronovAI Logo" class="logo-img">
            </a>
            <ul class="navbar-links">
                <li><a href="{% url 'homepage:home' %}">Home</a></li>
                <li><a href="{% url 'academic:cards' %}">Academic</a></li>
                 <li><a href="{% url 'products:product_list' %}">Products</a></li>
                 <li><a href="{% url 'swap:swap' %}">Swap</a></li>

                
            </ul>
        </div>
    </nav>

   
    <main class="main-content">
        {% block content %}{% endblock %}
    </main>

    
    <footer class="footer">
        <p>© 2025 NeuronovAI |
            <a href="https://x.com/neuronovai" target="_blank">🐦 Twitter</a> |
            <a href="https://t.me/neuronovai" target="_blank">💬 Telegram</a> |
            <a href="https://medium.com/@neuronovainfo" target="_blank">✍️ Medium</a>
            <a href="https://www.linkedin.com/company/neuronovai/" target="_blank">🔗 LinkedIn</a>
        </p>
    </footer>
</body>
</html>
