#neural-bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #0d0d0d;
}

.hero.overlay {
    position: relative;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;  /* Ortadan yukarıya alır */
    padding-top: 60px;  /* Üstten boşluk */
    font-family: 'Segoe UI', sans-serif;
}


.hero-title {
    color: #00cfff;
    font-size: 4rem; /* büyük başlık */
    font-weight: 800;
    text-shadow: 0 0 12px #00cfff, 0 0 24px #00cfff;
    margin: 0;
}

.hero-slogan {
    margin-top: 1rem;
    color: yellow;
    font-size: 1.6rem; /* slogan da belirgin */
    font-weight: 500;
    letter-spacing: 0.05rem;
    text-shadow: 0 0 8px #00cfff, 0 0 16px #00cfff;
}

@media (max-width: 768px) {
    .hero-title {
        font-size: 2.5rem;
    }

    .hero-slogan {
        font-size: 1.2rem;
    }
}



body, html {
    background-color: transparent !important;
}